.app-container {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.Products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}

.Product {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #e0e0e0;
  list-style: none;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.ProductContent {
  display: grid;
  margin: 0 0.5rem;
}

.ProductTitle {
  display: grid;
  font-size: 1.25rem;
  font-weight: bold;
  align-items: center;
}

.ProductDescription {
  display: grid;
  align-items: left;
  margin-top: 1rem;
  font-style: italic;
}

.ProductImage {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}

.ProductCategory {}
.ProductPrice {
  font-weight: bold;
}
.ProductRating {

}

/* Sort/Filter Drop down Menus */
.filter-by,
.sort-by {
  width: auto;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

/* This Styles For all Sort/Filter/Search container area */
.filter-sort {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* 'Filter By' & 'Sort By' text */
.sort-label,
.filter-label {
  color: rgb(92, 92, 92);
  margin: 0 0.5rem;
}

.search-box {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 50%;
  height: 5vh;
  background-color: rgb(238, 238, 238);
  border-radius: 0.25rem;
  border: 1px solid;
}

/* Pagination */
.pagination {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  margin: 0 0.3125rem;
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.pagination-info {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

@media (min-width: 48rem) { 
  .Products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
  .filter-sort {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@media (min-width: 60rem) {
  .Products {
    grid-template-columns: repeat(3, 1fr);
  }
  .filter-sort {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}