/* Container class */
.app-container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Grid for products */
.Products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
  justify-items: center;
  margin-top: 2rem;
}

/* Product item */
.Product {
  border: 0.1rem solid #e0e0e0;
  list-style: none;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Grid for product content */
.ProductContent {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.75rem;
  justify-items: center;
}

.ProductImage {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}

/* Responsive grid layout */
@media (max-width: 576px) {
  .Products {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .Products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .Products {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Pagination styles */
.pagination {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  margin: 0 0.3125rem;
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.pagination-info {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

/* Styles for filter, sort, and search */
.filter-by,
.sort-by,
.search-by {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.filter-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
