
/* <ul> class */
.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.Products {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.1rem;
  justify-items: center;
}

/* <li> class */
.Product {
  border: 1px solid #ccc; 
  list-style: none;
  
}

.ProductContent {
  display: grid;
  grid-template-rows: auto auto 1fr auto; /* Adjust rows for different content */
  gap: 0.5rem;
  justify-items: center;
}

.ProductImage {
  width: 100%; /* To ensure images take full width within their container */
  height: 100%; /* Set a fixed height or adjust as needed */
  object-fit: cover; /* Maintains aspect ratio */
}

.Product h2, .Product p {
  margin: 5px;
}

.pagination {
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-info {
  font-weight: bold;
}

@media screen and (min-width: 48rem) {
  .Products {
    grid-template-columns: repeat(2, 1fr); /* 2 columns once screen width reaches 48rem */
  }
}

@media screen and (min-width: 60rem) {
  .Products {
    grid-template-columns: repeat(3, 1fr); /* 3 columns once screen width hits 60rem */
  }
}